<!-- Begin Slack-->
<section id="blog" class="blog">
    <div class="content-wrapper text-left">
        <div class="col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
            <h3>Join our discussion</h3>
            <div class="col-lg-8 col-md-10 col-xs-12">
                
            <p>Our public slack is open for all things geek and technology. K-Mug Core team are often online, you can see their interactions and be part of it. Almost all our communication with registered members of K-MUG is also through this channel, so you'll get a feel for how our community works.</p>

            <p>To sign up, join below. By joining, you read and agree to the Community Code of Conduct.</p>

            <iframe class="slack" sandbox="allow-same-origin allow-scripts" scrolling="no" seamless="seamless" src="http://k-mug.herokuapp.com/"></iframe>

            </div>
        </div>
    </div>
</section>
<!-- End Slack -->